body {
    background-image: url(img/bayan.gif);
    background-size: 150px;
}
#main {
    max-width: 950px;
    margin: auto;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: rgba(100%, 100%, 100%, 95%);
    border-radius: 50px 50px 50px 140px;
    border: 3px solid darkgrey;
}

.main-container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

#main:hover .cross {
    color: #ffa500;
}

h1 {
    font-weight: 900;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

h2 {
    margin-left: 20px;
}

.container {
    color: #ffa500;
    border-bottom: 2px solid darkgrey;
    margin: 0;
    padding: 0;
    transition: 0.5s ease;
}

.container:hover {
    color: black;
    transition: 0.5s ease;
}

.cross {
    color: rgba(100%, 100%, 100%, 95%);
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    transition: 0.5s ease;
}

.container:hover .cross {
    color: black;
    transform: rotate(135deg);
    transition: 0.5s ease;
}

.container:hover .content {
    max-height: 100vh;
}

#last-cont {
    border: none;
}

input[type="radio"] {
 appearance: none;
}

.meme-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img-container {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    cursor: pointer;
    border: 2px solid darkgrey;
    border-radius: 40px 40px 40px 200px;
    margin-bottom: 10px;
    background-color: floralwhite;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

input[type="radio"]:checked+label .content {
    max-height: 100vh;
}

input[type="radio"]:checked+label .cross {
    transform:rotate(135deg)
}

@media (max-width: 1180px) {
    #main {
        border-color: black;
    }
    
    h1 {
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }
    .container {
        border-bottom: black;
    }
    
    .img-container {
        border-color: black;
    }
}

@media (max-width: 568px) {
    h2 {
        font-size: 25px;
}
   
    h1 {
        font-size: 30px;
        color: #ffa500;
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }
    
    #main {
        background-color: beige;
    }
}